<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Us</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

</head>
<body class="text-center" style="background-color: #1a1a1d;">
<header class="masthead text-center fixed-top" style="background-color: black; color: white; margin-bottom: 20px;">
    <div class="inner">
        <h3 class="masthead-brand">CAR SALES</h3>
        <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link active" href="index.html" style="color: white">HOME</a>
            <a class="nav-link" href="dashboard" style="color: white">SELL YOUR CAR</a>
            <a class="nav-link" href="filter" style="color: white">FILTER</a>
            <a class="nav-link" href="offers" style="color: white">CARS</a>
        </nav>
    </div>
</header>
    <div class="text-center container" style="max-width: 960px; color: white; margin-top: 100px;">
        <h2>HIGH QUALITY CAR SALES – THE HOME OF QUALITY USED CARS IN BUCHAREST</h2>
        <p>High Quality Car Sales is a family owned and operated Used Car Dealership
            located in the center of Bucharest.</p>
        <p>We are a passionate and friendly team who pride ourselves on being able to offer outstanding
            customer service and accommodate to ensure all our customers have a positive car buying experience.
            We stock a variety of used High Quality vehicles to fit any lifestyle, need or budget.</p>
        <p>HQCS is one of only a few small family owned used car dealerships in Romania who offer
            RAA inspected vehicles, giving you peace of mind when purchasing your next vehicle with us.
            We are a proud member of the Motor Trade Association, Romania which enables us to be
            up to date and complaint when it comes to our staff, customers and industry standards.</p>
        <p>We offer Finance solutions to help you drive home sooner or if you want to Sell Your Car,
            trade-ins are welcome!</p>
        <p>If you have any questions about any of our used cars for sale or services, please Contact
            a member of our helpful team today. Alternatively, feel free to drop by our used car dealership
            in Piata Victoriei Square during opening hours.</p>
        <a href="offers" class="btn btn-outline-light">BACK TO SHOPPING</a>
        <footer class="pt-4 my-md-5 pt-md-5 border-top">
            <div class="row">
                <div class="col-12 col-md">
                    <small class="d-block mb-3 text-muted">© 2017-2020</small>
                </div>
                <div class="col-6 col-md">
                    <h5>Contact</h5>
                    <ul class="list-unstyled text-small">
                        <li><a class="text-muted" href="contact">Message Us</a></li>
                        <li><a class="text-muted" href="https://www.facebook.com/targulvitan/">Facebook</a></li>
                    </ul>
                </div>
                <div class="col-6 col-md">
                    <h5>About</h5>
                    <ul class="list-unstyled text-small">
                        <li><a class="text-muted" href="about">Team</a></li>
                        <li><a class="text-muted" href="https://www.google.com/maps/place/Targ+Auto+Vitan/
                        @44.4028362,26.1407105,17z/data=!3m1!4b1!4m5!3m4!1s0x40b1ffe53984baf5:0x23a84ded876ceb4f!8m2!
                        3d44.4028362!4d26.1428992">Locations</a></li>
                        <li><a class="text-muted" href="policy">Privacy</a></li>
                        <li><a class="text-muted" href="terms">Terms</a></li>
                    </ul>
                </div>
            </div>
        </footer>
    </div>

</body>
</html>